<html>
  <head>
    <title>
      <%= current_user.email %>님의 라운지
    </title>
  </head>
  <body>
      <p id="notice"><%= notice %></p>
  
      <p><%= current_user.email %>님의 라운지
      <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
  
    <% #if @posts.each do |find| 
        #find.current_user_email == current_user.id %>
      <% if @profile_check == nil %>
        아직 프로필이 등록되지 않았어요! => <%= link_to "프로필 등록하러 가기", new_post_path %>
      <% else %>
      상태: 솔로<br>
      친구: 52명<br>
      주선 건수: 12건<br>
      <%= link_to '프로필 수정하기', edit_post_path(current_user.id) %> 
      
        <table>
          <thead>
            <tr>
              <th>전체 등록된 프로필</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.name %></td>
                <td><%= link_to 'Show', post %></td>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      
<hr>
<h2>솔로녀 친구</h2>
<p><%= link_to "친구목록 수정", posts_path %></p>
<!--친구 맺긴는 '좋아요'기능을 응용해서, 서로 좋아요를 누르면 '친구가 된 것'으로 인식토록 하기. -->
<!--"친구목록 수정"은 무엇을 뜻하는지 명확히 할 필요. 친구 프로필을 건드릴 것인지?(이건 좀 아닌듯?) 공개되는 친구, 친구들의 순서 등을 수정할 건지. <- 이런 기능은 우리가 배운 적이 없음-->
    

<% @posts.each do |p| %>
    <% if p.sex == 'female' %>
        <%= p.name %> <br>
        <% if p.profile_picture.attached? %>
            <%= image_tag url_for(p.profile_picture), style: 'height:300px;width:auto' %>
        <% end %>
    <% end %>
<% end %>
<hr>
<h2>솔로남 친구</h2>
<p><%= link_to "친구목록 수정", posts_path %></p>
    

<% @posts.each do |p| %>
    <% if p.sex == 'male' %>
        <%= p.name %> <br>
        <% if p.profile_picture.attached? %>
            <%= image_tag url_for(p.profile_picture), style: 'height:300px;width:auto' %>
        <% end %>
    <% end %>
<% end %>

    <br>
    

  </body>
</html>